/*Local Vars*/
$height: 240px;
$nav-width: 49px;

/*************************************/
/* Module */
/*************************************/

.threeVariableModule{
  .mainValue{
    font-size: 40px !important;
  }
}

.stadium-map {
  width: 100%;
  height: 2 * $height + 10;
  background: $map-bg;
  overflow: hidden;
}

.map-row {

  > div.col-md-11 {
    padding-right: 0;
  }

  > div.col-md-5 {
    padding-left: 0;
  }
}

.module {
  //  height: $height;
  //  min-width: 300px;
  padding-bottom: 15px;
  margin-bottom: 10px;
  //  padding-bottom: 15px;
  color: #ffffff;

  /* Colors */
  &.green {
    background-color: $hvac-color !important;
    color: $header-black !important;
  }

  &.yellow {
    background-color: $lighting-color !important;
    color: $header-black !important;
  }

  &.black {
    background-color: #2a3039;
    color: #FAFAFA;
    header {
      color: $stadium-white !important;
      span{
        font-size: 22px;
      }
    }
  }

  &.brown {
    background-color: $restroom-color;
  }

  &.grey {
    background-color: $light-grey;
    color: $header-black;
    header {
      color: $stadium-white !important;
    }

    .sub-content .title {
      color: $stadium-white;
      opacity: .5 !important;
    }
  }

  &.blue {
    background-color: $parking-color;
    color: $header-black !important;
  }

  &.light-blue {
    background-color: $lighter-blue !important;
    color: $header-black !important;
  }

  &.dark {
    background-color: $header-black;
  }
  .mainValue{
    height: 110px;
    text-align: center;
    font-size: 50px;
    span{
      display: block;
      font-size: 20px
    }
    // font-weight: 600;
  }

  .activity-feed-placeholder {
    padding: 0 20px;
    font-size: 12px;
    font-weight: 100;
  }

  /* Header */
  header {
    min-height: initial !important;
    height: 50px;
    color: $header-black;
    vertical-align: middle;
    padding: 15px;

    .title {
      font-weight: 600;
      font-size: 16px;
      text-transform: uppercase;
    }
    .interval {
      font-weight: 400;
    }
  }

  .table{
    width: 100%;
  }

  /* Module Navigation*/
  .navigation {
    width: $nav-width;
    height: 100%;
    background-color: rgba(0, 0, 0, .1);

    float: left;

    .nav.nav-tabs {
      border: none;

      li {
        width: $nav-width;
        height: $nav-width;
        &.active {
          background-color: rgba(0, 0, 0, .25);
          a {
            color: white;
          }
        }

        a {
          width: $nav-width;
          height: $nav-width;
          background-color: $transparent;
          border: none;
          border-radius: 0;
          margin: 0;
          padding: 14px 0;
          //          padding: 10px 13px;
          text-align: center;
          cursor: pointer;
          color: #999;

          img {
            margin: auto;
            display: block;
            $height: 21px;
            height: $height;
            width: $height;
          }

          i {
            font-size: 20px;
            color: $stadium-white;

          }

        }
        a:hover{
          background-color: rgba(255,255,255, .25);
        }

      }
    }
  }

  .map-nav {
    position:absolute;
    left:5px;
    z-index:1000;
  }

  /* Content-holder */
  .content-holder {
    // height: 100%;
    overflow: hidden;
    /* Content */
    .content {
      //      height: $height - $nav-width;
      .tab-content {
        //        height: $height - $nav-width;
      }
      .big-content {
        display: inline-block;
        padding: 5px 20px;
        width: 100%;
        text-align: center;
        vertical-align: top;
        .data {
          font-size: 30px;

          & + .odometer {
            margin-top: -15px;
          }
        }
        .title {
          font-size: 12px;
        }
      }
      .sub-content {
        display: inline-block;
        min-width: 100px;
        text-align: center;
        .title {
          font-size: 14px;
          opacity: .8;
        }
        .data {
          font-weight: 500;
          font-size: 20px;
        }
        .subtitle {
          font-size: 75%;
          opacity: .8;
        }
      }
    }
  }

  /* Small */
  &.small {
    font-size: 100% !important;
    padding-bottom: 15px;
    min-height: 152px;
    
    .content-holder {
      margin-left: 0;
    }
  }

  /* Large-graph */
  &.large-graph {
    height: $height * 1.5;
    .content-holder {
      margin-left: 0;
      .content {
        display: inline-flex;
        width: 100%;
        height: $height * 1.5 - $nav-width;
        .graph-content {
          height: 311px;
          width: 75%;
          .graph {
            position: relative;
            top: 40px;
            background-color: rgba(0, 0, 0, 0);
            height: 225px;
          }
        }
      }
    }
  }
  
  &-activity-feed {
    padding-bottom: 0 !important;
    overflow: hidden;
    height: $height *1.5;
//    background-color: rgba(0, 0, 0, .10) !important;

    .feed-container {
      height: 100%;
    }

    .table {
      font-weight: 100;
      overflow: scroll;
      width: 100%;

      thead > tr > th, tbody > tr > th, tfoot > tr > th, thead > tr > td, tbody > tr > td, tfoot > tr > td {
        padding: 0 15px;
        border-top: none; /*1px solid rgba(250, 250, 250, .05);*/
      }
      thead > tr > th {
        font-weight: 400;

        border: none;
      }

      td {
        &:nth-child(1) {
          width: 20%;
        }

        &:nth-child(2) {
          width: 50%;
        }
      }

      th {
        &:nth-child(1) {
          width: 20%;
        }

        &:nth-child(2) {
          width: 50%;
        }
      }

    }
  }

  /* Map */
  &-map {
    margin-left: 0px;
    height: 2 * $height + 10;
    background: $header-black;

    .navigation{
      height: 2 * $height + 10 !important;
    }

    .content-holder {
      margin-left: $nav-width;

      .content {
        height: 100%;
        width: 100%;
        background: #333;

        .tab-content {
          height: 100%;
          width: 100%;
        }
      }
    }

    .tab-content {
      padding-left: 49px;
    }

  }

  /* Security */
  &.security {
    height: 2 * $height + 10;
  }

  /* Feed-tabs */
  &-feed {

    height: 2 * $height + 10;
    background-color: $header-black;
    padding-bottom: 15px;

    header {
      color: $stadium-white;
    }

    .content-holder {
      margin: 0px;
      height: 100%;

      /* Content */
      .content {
        height: $height - $nav-width;
        .tab-content {
          height: $height - $nav-width;

        }
      }

    }

    .table {
      font-weight: 200;
      color: $dark-text;
      width: 100%;

      .highlight-row {
        background-color: rgba(250, 250, 250, .05)
      }

      thead > tr > th, tbody > tr > th, tfoot > tr > th, thead > tr > td, tbody > tr > td, tfoot > tr > td {
        padding: 10px;
        vertical-align: middle;
        border-top: 1px solid rgba(250, 250, 250, .05);
      }
      .circle-picture-small {
        width: 42px;
        height: 42px;
        border-radius: 45px;
      }
    }
  }

  /* Feed with tabs */
  &-feed-tabs {
    height: 2 * $height + 10;
    background-color: $header-black;
    overflow: auto;

    /* Feed > Tab styles */
    .nav-tabs {
      border-bottom: none;
//      min-width: 300px;
      background-color: #1D2127;
      font-weight: 600;
    }

    a:hover {
      cursor: pointer;
    }

    .nav-tabs > li > a, .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
      color: $dark-text;
      border: none;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border-radius: 0px;
      background-color: inherit;
    }

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {

      color: $light-text;
      background-color: $header-black;
      border: none;
      border-bottom-color: transparent;
      cursor: default;
    }

    .content-holder {
      margin: 0px;
      height: 100%;

      /* Content */
      .content {
        height: $height - $nav-width;
        .tab-content {
          height: $height - $nav-width;

        }
      }
    }

    /* Feed > Content and table */
    .tab-content > .tab-pane {
      margin: 0px 0px;

      .table {
        font-weight: 200;
        color: $dark-text;
        .highlight-row {
          background-color: rgba(250, 250, 250, .05)
        }

        thead > tr > th, tbody > tr > th, tfoot > tr > th, thead > tr > td, tbody > tr > td, tfoot > tr > td {
          padding: 10px;
          vertical-align: top;
          border-top: 1px solid rgba(250, 250, 250, .05);
        }
        thead > tr > th {
          font-weight: 200;
          color: $light-text;
          border-bottom: none;
          border-top: none;
        }

        .circle {
          margin: 5px 10px;
          width: 10px;
          height: 10px;
          -webkit-border-radius: 45px;
          -moz-border-radius: 45px;
          border-radius: 45px;
          background-color: #fff;
          &-blue {
            background-color: $parking-color;
          }
          &-yellow {
            background-color: $lighting-color;
          }
          &-green {
            background-color: $hvac-color;
            color: $header-black;
          }
        }
      }

    }
  }
  &-small-table{
   height: 360px !important; 
  }

  &-side-panel {

    height: 2 * $height + 10;
    background-color: $map-sidebar-black;

    header {
      color: $stadium-white;

      &.yellow, &.light-blue {
        color: #000;
      }

      &.green {
        background-color: $hvac-color;
        color: $header-black;
      }
    }
    .content-holder-small {
      height: 360px !important;
    }

    .content-holder {
      margin: 0px;
      height: 2 * $height + 10;
      background: $map-sidebar-black;

      /* Content */
      .content {
        background: none;
        .row {
          margin: 0;
          > div {
            padding: 15px;
          }
        }

        height: 100%;

        .tab-content {
          height: $height - $nav-width;

        }
      }
    }

    .table-container {
      height: 90%;
      overflow-y: auto;
    }

    .table {
      font-weight: 200;
      color: $dark-text;

      /*.highlight-row {
        background-color: rgba(250, 250, 250, .05)
      }*/

      thead {
        background: $header-black;
      }

      th {
        font-size: 12px;
        font-weight: 200;
        background: $header-black;
        color: $table-lighter-text;
        border-bottom: none;
        border-top: none;
        //        text-transform: uppercase;

        div {
          position: absolute;
          font-size: 12px;
          font-weight: 200;
          background: $header-black;
          color: $table-lighter-text;
          border-bottom: none;
          border-top: none;
          //          text-transform: uppercase;
        }
      }

      thead > tr > th, tbody > tr > th, tfoot > tr > th, thead > tr > td, tbody > tr > td, tfoot > tr > td {
        padding: 10px;
        vertical-align: middle;
        border-top: 1px solid rgba(250, 250, 250, .05);
        text-align: center;
      }

      td {
        color: $table-light-text;

        .icon {
          margin-right: 5px;

        }

        &:nth-child(1) {
          min-width: 16%;
        }

      }

      &.table-hoverable {
        font-size: 12px;
      }

      &.table-hoverable tr:hover {
        background-color: rgba(250, 250, 250, .05);
        cursor: pointer;
      }
    }

    .feed-table {
      margin-top: 10px;
      background: $header-black;
      font-weight: 100;

      thead > tr > th, tbody > tr > th, tfoot > tr > th, thead > tr > td, tbody > tr > td, tfoot > tr > td {
        padding: 5px 15px;
        vertical-align: middle;
        text-align: left;
        border: none;
        color: $table-light-text;
        font-weight: 100;
      }

      td {
        &:nth-child(1) {
          width: 25%;
        }
      }

      th {
        &:nth-child(1) {
          width: 25%;
        }
      }
    }

    &.detailed {
      /*z-index: 1000;*/
      position: absolute;
      width: 100%;
      height: 490px;
      overflow: hidden;
      top: 0px;
      bottom: 0px;
      right: 0px;
      margin-right: 5px;
      animation: slideInRight 0.35s forwards;
      transition-duration: 0.3s;
      transition-property: width, height;

      &.ng-hide {
        animation: slideOutRight 0.35s forwards;
      }

      .side-panel-header {
        font-size: 12px;
        background: $header-black;

        .icon-container {
          padding: 0px 15px 0px 0px;
        }
      }

      .table-small {
        height: 46%;
      }

    }
  }
}

.graph-control-group {
  position: relative;
  top: 10px;
  left: 5px;
  .graph-label {
    margin: auto;
    padding: auto;
    font-size: 11px;
    color: $light-text;
  }

}

.graph-interval-group {
  text-align: center;
  padding: 0 10px;
  display: inline-block;
}

.graph-highlight-group {
  text-align: center;
  padding: 0 10px;
  display: inline-block;
}

.graph-selection-group {
  text-align: center;
  padding: 0 10px;
  display: inline-block;
}

.graph-content {
  .btn-control:active,
  .btn-control.active {
    border: 1px solid #fff;
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.25);
    color: white;
  }

  .btn-control {
    border-radius: 40px;
    background: rgba(33, 33, 33, 0.0);
    box-shadow: none;
    color: rgba(33, 33, 33, 0.5);
  }

  .control-btn-group {
    background: rgba(33, 33, 33, 0.1);
    border-radius: 40px;
  }

  .control-btn-group.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-radius: 40px
  }

  .btn.btn-control:hover,
  .btn.btn-control:focus,
  .btn.btn-control.focus {
    color: #fff;
    text-decoration: none;
  }

  .control-btn-group.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    border-radius: 40px;
  }

  .control-btn-group .btn-control + .btn-control {
    margin-left: 0
  }

  .control-btn-group > .btn:last-child:not(:first-child),
  .control-btn-group > .dropdown-toggle:not(:first-child) {
    border-radius: 40px
  }

  .btn-control.btn-xs {
    padding: 2px 10px;
    color:#fff;
  }

  .time {
    position: relative;
  }

  .graph-data-selection
  {
    float:right;
    margin-right: 20px;
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid #fff;
    font-size: 12px;
    color: #fff;
    border-radius: 40px;
    align-content: center;
  }

  .dropdown-menu {
    background: rgba(255, 255, 255, .8);
    border: 1px solid #fff;
    font-size: 12px;
    min-width: 40px;
    color: #333;
    border-radius: 10px;
    text-align: right;
    -webkit-box-shadow:none;
    box-shadow: none;
    left:auto;
    right:0;
    cursor: pointer;

    li {
      padding:5px;
    }
    li:hover {
      background: rgba(255, 255, 255, 0.25);
    }
  }
}

.large-graph-row {
  > div.col-md-12 {
    padding-right: 0;
  }

  > div.col-md-4 {
    padding-left: 0;
  }
}

/* Add padding to map rows for mobile devices*/
@media (max-width: 768px) {
  .map-row > div {
    padding-right: 5px !important;
    padding-left: 5px !important;
  }

  .large-graph-row > div {
    padding-right: 5px !important;
    padding-left: 5px !important;
  }
}