.navbar-stadium {
  min-height: $header-height;
  background-color: lighten(#2a3039, .10);
  z-index: 1000;
  .navbar-brand {
    padding: 15px 20px;
    color: $dark-text;
    height: 65px;
    padding-top: 20px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center; /* Safari 7.0+ */
    align-items: center;

    span {
      font-size:18px;
      padding-left: 5px;
      color: $stadium-grey;
      text-shadow: none;
    }
    .big {
      font-weight:100;
      font-size:22px;
    }

    .small {
      position: relative;
      padding-left: 0;
      font-size: 10px;
      font-weight: 300;
      color: #999;
    }

    .primary-brand {
      height: 30px;
      position: relative;
      // top: 5px;
    }

    .secondary-brand {
      position: relative;
      height: 14px;
      left: -5px;
      top: 1px;
    }
  }

  /* Responsive Hamburger Menu */
  .navbar-toggle {
    margin-right: 15px;
    padding: 15px 10px;
    margin-top: 10px;
    
    &:hover {
      background-color: #2e3642;
    }
    
    .icon-bar {
      background-color: $dark-text;
    }
  }
  
  /* Responsive Mobile Navigation */
  .navbar-collapse {
    border-top: none;
    
    .navbar-nav {
      margin: 0px -5px;
      
      > li {
        background: $sidebar-black;

        > a {
          text-shadow: none;
          color: $stadium-white;
          opacity: 0.5;
          font-size: 16px;
          font-weight: 100;

          i {
            font-size: 20px;
          }

          &:hover, &:focus {
            background: lighten($sidebar-black, 8%);
          }
        }

        &.lighting:hover {
          border-left: 2px $lighting-color solid;
        }

        &.home:hover {
          border-left: 2px $stadium-red solid;
        }

        &.parking:hover {
          border-left: 2px $parking-color solid;
        }

        &.restroom:hover {
          border-left: 2px $lighter-blue solid;
        }

        &.hvac:hover {
          border-left: 2px $hvac-color solid;
        }

        &.selected {
          color:white;

          &.lighting {
            border-left: 2px $lighting-color solid;
          }

          &.parking {
            border-left: 2px $parking-color solid;
          }

          &.restroom {
            border-left: 2px $lighter-blue solid;
          }

          &.hvac {
            border-left: 2px $hvac-color solid;
          }

          &.home {
            border-left: 2px $stadium-red solid;
          }

          a {
            color: $stadium-white;
          }

          background-color: lighten($sidebar-black, 8%);
        }
      }
    }
  }

  $color: #999999;

  .navigation-group {
    color: $color;
    height: $header-height;
    float: right;
    .nav {
      float: right;
      .open{
        background-color: #2e3642;
        a, a:hover, a:focus {
          background-color: #2e3642;
        }
      }
      li {
        height: $header-height;
        width: $header-height;
        font-size: 20px;
        border-left: 1px solid rgba(255, 255, 255, .1);

        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex;
        display: flex;
        &:hover {
          cursor: pointer;
          background-color: #2e3642;
        }
        -webkit-align-items: center; /* Safari 7.0+ */ align-items: center;
        justify-content: center;
        a,
        a:hover,
        a:focus
        a.open,
        a.focus{
          color: $color;
          background-color: inherit;
        }
      }
    }
    .dropdown-menu {
      background-color:lighten(#2a3039, .10);
      margin:0;
      padding:0;
      border-radius: 0;

      li {
        border-top: 1px solid rgba(255, 255, 255, .1);
        color: $color;
        font-size: 12px;
        height:45px;
        width: 100%;
        justify-content: left;
        padding: 10px;

        &:hover {
          cursor: pointer;
          background-color: #2e3642;
        }
      }

    }
  }

  .quick-info {
    color: $color;
    height: $header-height;

    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center; /* Safari 7.0+ */
    align-items: center;
    justify-content: flex-end;
    float:right;
    .info-group {

      float:right;
      list-style: none;
      margin: 0 10px;
      li {
        display: inline-block;
        padding-right:15px;
        i {
          padding-right: 6px;
          font-size: 12px;
        }
        span {
          padding-bottom:2px;
          font-weight: 200;
          font-size:12px;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .navbar-stadium .navbar-collapse {
    display: none !important;
  }
}

@media (max-width: 1010px) {
  .navbar-stadium .navigation-group,
    .navbar-stadium .quick-info {
    display: none !important;
  }
}

.page-header.st-header {
  padding: 0;
  min-height: 65px;
  margin: 0;
  border: none;
  background-color: lighten(#2a3039, .10);
  position: fixed;
  width: 100%;
  z-index: 10000;
  top: 0;
  left: 0;

  .navigation-group .nav .open a, .page-header.st-header .navigation-group .nav .open a:hover, .page-header.st-header .navigation-group .nav .open a:focus {
    background-color: inherit !important;
  }

  $color: #d3d3d3;

  .navigation-group {
    color: $color;
    height: 65px;
    float: right;
    .nav {
      float: right;
      .open{
        background-color: #2e3642;
        a, a:hover, a:focus {
          background-color: #2e3642;
        }
      }
      li {
        height: 65px;
        width: 65px;
        font-size: 20px;
        border-left: 1px solid rgba(255, 255, 255, .1);

        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex;
        display: flex;
        &:hover {
          cursor: pointer;
          background-color: #2e3642;
        }
        -webkit-align-items: center; /* Safari 7.0+ */ align-items: center;
        justify-content: center;
        a,
        a:hover,
        a:focus
        a.open,
        a.focus{
          color: $color;
          background-color: inherit;
        }
      }
    }
    .dropdown-menu {
      background-color:lighten(#2a3039, .10);
      margin:0;
      padding:0;
      border-radius: 0;

      li {
        border-top: 1px solid rgba(255, 255, 255, .1);
        color: $color;
        font-size: 12px;
        height:45px;
        width: 100%;
        justify-content: left;
        padding: 10px;

        &:hover {
          cursor: pointer;
          background-color: #2e3642;
        }
      }

    }


  }

  .quick-info {
    color: $color;
    height: 65px;

    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center; /* Safari 7.0+ */
    align-items: center;
    justify-content: flex-end;
    float:right;
    .info-group {

      float:right;
      list-style: none;
      margin: 0 10px;
      li {
        display: inline-block;
        padding-right:15px;
        i {
          padding-right: 6px;
          font-size: 12px;
        }
        span {
          padding-bottom:2px;
          font-weight: 200;
          font-size:12px;
        }
      }
    }
  }


  .logo {
    padding: 15px 20px;
    color: $dark-text;
    height: 65px;

    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center; /* Safari 7.0+ */
    align-items: center;
    span {
//      font-weight:400;
      font-size:18px;
      padding-left: 5px;
      margin-top:10px;
    }
    .big {
      font-weight:100;
      font-size:22px;
    }
  }
}